pre {
    white-space: pre-wrap;
    color: #f8efa1;
    max-width: 100%;
    background-color: #292829;
    border: 1px solid transparent;
    margin: 1rem 0 2rem;
    padding: 1rem 2.5rem 1rem 1rem;
    border-radius: var(--quina);
    width: -webkit-fill-available;
}

code {
max-width: 500px;
}
input, textarea {
    background-color: #292829;
    color: aliceblue;
    padding: 15px 32px;
    border-radius: var(--quina);
    font-family: "Poppins", sans-serif;
    border: 0;
}

textarea,input {
    min-width: -webkit-fill-available;
    max-width: -webkit-fill-available;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
label {
    
}

input {
    margin: 0 0 1rem 0;
}